.team-settings__page-header {
    margin-bottom: $padding-xl;
}

.team-role-perms__role-select {
    margin-bottom: $padding-xl;
}

.team-team-members__invite-title {
    margin-bottom: $padding-xl;
}

.team-team-roles__input {
    width: 60%;
}
.team-team-roles__delete-icon {
    margin: 0 $padding-md;
}
