{
    "parser": "@typescript-eslint/parser",
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "react-app",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint",
        // "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "error"
    }
}